* {
    box-sizing: border-box;
    margin: 8px;
}
body { 
    background-color: aliceblue;
}
select{ 
    width: 13em;
    height: 4em;
    background-color: rgb(226, 234, 156);
}
input[type="search"]{
    font-size: large;
}
table {
    background-color: rgb(177,210,199)
}
input {
    background-color: rgb(7, 203, 233);
}
table,td,form td button{
    margin: 0;
}
form{
    margin: 0;
}
#syou,#setu {
    height: 4em;
    width: 5em;
}
