*{ border-radius: 9px;}
body{width:100%;}
body::-webkit-scrollbar{
    display: none;
}
.openbtn {
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 9999;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.openbtn span{    
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
}
.openbtn span:nth-of-type(1) { top:15px; }
.openbtn span:nth-of-type(2) { top:23px; }
.openbtn span:nth-of-type(3) { top:31px; }
#fontSize_change{position: fixed; right:1em;}
#plus,#minus,#syou_change{width: 3em; height: 3em; background: rgba(0, 0, 100, 0.9); color:#fff;}
#out{
    box-sizing:border-box;
    max-width:100%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #000;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
#out:empty{display:none;}
#header{width: 100%;}
#syou_plus{ display: inline-block; text-align: right; width: 50%;}
#syou_minus{display: inline-block; text-align: left;  width: 50%;}
#select{height:4em; background: rgba(0, 0, 0, 0.7); color:#fff;}
.target_jp{ background-color:#FBFDB7; }
.target_ch{ background-color:#b6fafc; }
#jp,#ch{font-size: 1em;}
#title{text-align: center;}
#navmas{ position: fixed; width:100%; height:100%; }
#syou_pos,#syou_show{ 
    position: fixed;
    display: block;
    background: rgba(0, 0, 0, 0.7); color:white;
    text-align: center;
    font-size: 1.5em;
    padding:0;
}
#syou_pos{ left: 10px; top: 60px; width:50px; height:50px;}
#syou_show{ left: 10px; top: 110px; width:50px; height:50px; }
#url,#nav,form{margin-left: 5%;}
#url{ position: fixed; height:2em; bottom: 1em;  background: rgba(200,0,200,0.8); border-radius: 12px;}
#url a{ text-align: center; vertical-align: middle; text-decoration:none; color: #000;}
#nav{overflow: hidden;width: 50%; height: 100%;}
#group,#group_setu{ overflow: auto; max-height:80%; width: 100%;}
#group::-webkit-scrollbar,#group_setu::-webkit-scrollbar{display: none;}

#box{
    background:#E8CEAF;
    width: 10%;
    height: 2em;
    float: left;
    padding: 0;
    text-align: center;
    font-size: 2.5em;
}
font{text-align: center;}

@media screen and (max-width: 1020px) {
    form{ padding-top: 70px;}
    #nav{width:100%;}
    #group{width: 90%;}
    #group_setu{ width: 90%;}
    #box{width:20%; height:2em;}
    #syou_pos{left: 60px; top: 10px;}
    #syou_show{left: 110px; top: 10px;}
}
@media screen and (min-height:600px) and (max-height: 820px){
    #group{height:70%;}
    #group_setu{height:70%;}
}
@media screen and (min-height: 821px){
    #group{height:90%;}
    #group_setu{height:90%;}
    #box{height:3em;}
}
@media screen and (max-height: 599px){
    #group{height:50%;}
    #group_setu{height:50%;}
}