* {
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    display: none;
}
body {
    background-color: rgb(213,229,245);
    color: black;
    font-family: Arial;
    font-weight: bold;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#thema_ja, #thema_ch {
    text-align: center;
    font-size: 9rem;
}
#thema_ch {
    color: rgb(23,28,107);
}
#wrap {
    display: flex;
    flex-direction: column;
    background-color: rgb(213,229,245);
}
#info {
    display: inline-block;
    margin: 0 auto;
    
}
#speech, #translator, #hymn {
    font-size: 5rem;
}
#hymn {
    color: rgb(0,30,245);
}
/*
.wrap {
    display: flex;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
#thema_ja, #thema_ch {
    font-size: 10em;
}
#speech, #translator {
    font-size: 5em;
}
#hymn {
    font-size: 4em;
} */